<form action='/result'>
  <div class="row">
    <div class="col-md-6">
      <h3>Player 1</h3>
      <div class="radio">
        <label>
          <input type="radio" name="player1" value="rock">
          Rock
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="player1" value="paper">
          Paper
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="player1" value="scissors">
          Scissors
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Player 2</h3>
      <div class="radio">
        <label>
          <input type="radio" name="player2" value="rock">
          Rock
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="player2" value="paper">
          Paper
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="player2" value="scissors">
          Scissors
        </label>
      </div>
    </div>
    <button type="button" class="btn bg-primary">Play</button>
  </div>
</form>
